<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zzacn.vnt_mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKurSOfLU5k_ZdLqPINkqVrQHivEqoE1M" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".View.Home.ServiceInfo.ActivityServiceInfo" />
        <activity android:name=".View.Home.ServiceInfo.ActivityFullImage" />
        <activity android:name=".View.Search.ActivityAdvancedSearch" />
        <activity android:name=".View.Search.ActivityNearLocation" />
        <activity android:name=".View.Home.ServiceInfo.ActivityReview" />
        <activity android:name=".View.Home.ServiceInfo.ActivityReviewList" />
        <activity android:name=".View.Personal.Login_Register.ActivityLogin" />
        <activity android:name=".View.Personal.Login_Register.ActivityRegister" />
        <activity android:name=".View.Personal.ActivityGeneral"/>
        <activity android:name=".View.Personal.TripSchedule.ActivityTripSchedule"/>
        <activity android:name=".View.Personal.TripSchedule.ActivityAddTripSchedule"/>
        <activity android:name=".View.Personal.TripSchedule.ActivityTripScheduleInfo"/>
        <activity android:name=".View.Personal.ActivityUpgradeMember"/>
        <activity android:name=".View.Personal.Event.ActivityAddEvent"/>
        <activity android:name=".View.Personal.ActivityAddPlace"/>
        <activity android:name=".View.Personal.ActivityAddService"/>
        <activity android:name=".View.Personal.TripSchedule.ActivityAddServiceToTripSchedule"/>
        <activity android:name=".View.Personal.Event.ActivityAddVenue"/>
        <activity android:name=".View.Personal.ActivityUserInfo"/>
        <activity android:name=".View.Home.ServiceInfo.ActivityEnterpriseServiceInfo"/>
    </application>

</manifest>